fastapi
uvicorn
sqlmodel
langgraph
langchain
langchain-community
langchain-chroma
chromadb
langchain-openai
python-dotenv
python-socketio
python-jose[cryptography]
passlib[bcrypt]
pypdf
python-multipart
psycopg2-binary
